.Insturl{
    position: static;
    left: 5.67%;
    right: 17.38%;
    top: 68.18%;
    bottom: 10.91%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #E16259;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.Small_card_frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 250px;
    height: 55px;
    left: 16px;
    top: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.Insname{
    position: static;
    width: 250px;
    left: calc(50% - 250px/2);
    top: 45.45%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 135%;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.Frame_1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 76px;
    height: 21px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.Nl{
    position: static;
    left: 76.32%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 4px;
}

.Separator{
    position: static;
    left: 65.79%;
    right: 28.95%;
    top: 0%;
    bottom: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.Gender{
    position: static;
    left: 0%;
    right: 39.47%;
    top: 0%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}